/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


.logo_img{
  width: 50px;
  length: 50px;
}

/* .log_out{
  position: relative;
  margin-left: 80%;
} */
