  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome <%= current_student.first_name %>!</h1>
        <p>In this student activity protal you can obtain information regarding events, textbooks, facutly or student. You can also purchase bus passes, meal plans, and textbooks.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- First Row -->
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Textbook Search</h2>
          <p>Seach for class textbooks that are required by your courses. Sold at your local bookstore!</p>
          <p><a class="btn btn-secondary" href="/products/?type=Book" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>People Search</h2>
          <p>Faculty-Staff & Student Directory.</p>
          <p><%= link_to raw("View details &raquo;"), search_path(:search_type =>'student'), remote:true, class:"btn btn-secondary", role:"button" %></p>
        </div>
        <div class="col-md-4">
          <h2>Roomate Finder</h2>
          <p>Find a roommate that meets your requirements.</p>
          <p><%= link_to raw("View details &raquo;"), search_path(:search_type =>'roomate'), remote:true, class:"btn btn-secondary", role:"button" %></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

    <!--Second Row -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Meal Plan</h2>
          <p>Look at our available meal plan options and purchase.</p>
          <p><a class="btn btn-secondary"  href="/products/?type=Meal" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Bus Pass</h2>
          <p>Purchase a Bus ticket.</p>
          <p><a class="btn btn-secondary"  href="/products/?type=BusTicket"role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Campus Events</h2>
          <p>Stay informed with campus and sporting events!</p>
          <p><a class="btn btn-secondary" href="/events/" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>